

.blackBackground {
    background-color: black;
    color: white;
}

.normalBackground {
    background-color: #EFEFEF;
    color: black;
}

/* #repeat-text {
    width: 500px;
    height: 500px;
    border-style: solid;
} */